<h1>All Link</h1>

<table>
  <th>Source Link:</th>
  <th></th>
  <th>Shortened Link:</th>
    <tr>
      <% @links.each do |link| %>
        <td><a href=#><%= link.link_source %></a></td>
        <td></td>
        <td><a href=<%= @base_url %><%= link.link_source%>><%= @base_url %><%= link.link_short %></a></td>
      <% end %>
    </tr>
</table>

