<h1>All Link</h1>

<table>
  <th>Source Link:</th>
  <th></th>
  <th>Shortened Link:</th>
    <% @links.each do |link| %>
      <tr>
        <td><a href=<%= "#{link.link_source}" %>><%= link.link_source %></a></td>
        <td></td>
        <td><%= link_to "#{link.link_short}", access_link_path(link.link_short) %></td>
        <td><%= link_to 'Edit', edit_link_path(link.id) %></td>  
        <td><%= link_to "Delete", [link], data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure to delete the generated link?"
        } %></td>  
        <td><small>Created <%= time_ago_in_words(link.created_at) %> ago, 
            edited <%= time_ago_in_words(link.updated_at) %> ago</small></td>
      </tr>
    <% end %>
</table>

<%= link_to "Create New Shortened Link", "links/new", method: :create %>